<div id="audio-booster-container">
  <div class="ml flexDiv">
    <webaudio-knob
      id=""
      src="/assets/imgs/LittlePhatty.png"
      diameter="30"
      min="0"
      max="10"
      step="0.1"
      value="0"
      tooltip="Volume: %d"
    ></webaudio-knob>
    <span>Volume</span>
  </div>
  <div class="ml flexDiv">
    <webaudio-knob
      id=""
      src="/assets/imgs/LittlePhatty.png"
      diameter="30"
      min="0"
      max="10"
      step="0.1"
      value="0"
      tooltip="Master: %d"
    ></webaudio-knob>
    <span>Master</span>
  </div>
  <div class="ml flexDiv">
    <webaudio-knob
      id="drive-booster"
      src="/assets/imgs/LittlePhatty.png"
      diameter="30"
      min="0"
      max="10"
      step="0.1"
      value="0"
      tooltip="Drive: %d"
    ></webaudio-knob>
    <span>Drive</span>
  </div>
  <div class="ml flexDiv">
    <webaudio-knob
      id="bass-booster"
      src="/assets/imgs/LittlePhatty.png"
      diameter="30"
      min="0"
      max="10"
      step="0.1"
      value="0"
      tooltip="Bass: %d"
    ></webaudio-knob>
    <span>Bass</span>
  </div>
  <div class="ml flexDiv">
    <webaudio-knob
      id="middle-booster"
      src="/assets/imgs/LittlePhatty.png"
      diameter="30"
      min="0"
      max="10"
      step="0.1"
      value="0"
      tooltip="Middle: %d"
    ></webaudio-knob>
    <span>Middle</span>
  </div>
  <div class="ml flexDiv">
    <webaudio-knob
      id="treble-booster"
      src="/assets/imgs/LittlePhatty.png"
      diameter="30"
      min="0"
      max="10"
      step="0.1"
      value="0"
      tooltip="Treble: %d"
    ></webaudio-knob>
    <span>Treble</span>
  </div>
  <div class="ml flexDiv">
    <webaudio-knob
      id="reverb-booster"
      src="/assets/imgs/LittlePhatty.png"
      diameter="30"
      min="0"
      max="10"
      step="0.1"
      value="0"
      tooltip="Reverb: %d"
    ></webaudio-knob>
    <span>Reverb</span>
  </div>
  <div class="ml flexDiv">
    <webaudio-knob
      id="presence-booster"
      src="/assets/imgs/LittlePhatty.png"
      diameter="30"
      min="0"
      max="10"
      step="0.1"
      value="0"
      tooltip="Presence: %d"
    ></webaudio-knob>
    <span>Presence</span>
  </div>
</div>
