<div id="audio-equalizer-container">
    <div class="flexDiv">
        <webaudio-knob id="eq-60"
            src="/assets/imgs/roland_SH_101_knob.png"
            min="-15"
            max="15"
            value="0"
            sprites="29"
            step="0.1"
            tooltip="Presence: %d"
        ></webaudio-knob>
        <span>EQ 60</span>
    </div>
    <div class="ml-5  flexDiv">
        <webaudio-knob id="eq-170"
            src="/assets/imgs/roland_SH_101_knob.png"
            min="-15"
            max="15"
            value="0"
            sprites="29"
            step="0.1"
            tooltip="Presence: %d"
        ></webaudio-knob>
        <span>EQ 170</span>
    </div>
    <div class="ml-5 flexDiv">
        <webaudio-knob id="eq-350"
            src="/assets/imgs/roland_SH_101_knob.png"
            min="-15"
            max="15"
            value="0"
            sprites="29"
            step="0.1"
            tooltip="Presence: %d"
        ></webaudio-knob>
        <span>EQ 350</span>
    </div>
    <div class="ml-5 flexDiv">
        <webaudio-knob id="eq-1000"
            src="/assets/imgs/roland_SH_101_knob.png"
            min="-15"
            max="15"
            value="0"
            sprites="29"
            step="0.1"
            tooltip="Presence: %d"
        ></webaudio-knob>
        <span>EQ 1K</span>
    </div>
    <div class="ml-5 flexDiv">
        <webaudio-knob id="eq-3500"
            src="/assets/imgs/roland_SH_101_knob.png"
            min="-15"
            max="15"
            value="0"
            sprites="29"
            step="0.1"
            tooltip="Presence: %d"
        ></webaudio-knob>
        <span>EQ 3K5</span>
    </div>
    <div class="ml-5 flexDiv">
        <webaudio-knob id="eq-10k"
            src="/assets/imgs/roland_SH_101_knob.png"
            min="-15"
            max="15"
            value="0"
            sprites="29"
            step="0.1"
            tooltip="Presence: %d"
        ></webaudio-knob>
        <span>EQ 10K</span>
    </div>
</div>