#playlist-audio-container {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.5px;
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    overflow-y: auto;
}

#elements-playlist{
    width: 95%;
    height: 100%;
}

#elements-playlist div {
    width: 100%;
    border-top: 1px solid var(--main-color);
    text-align: center;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

#elements-playlist div.selected {
    width: 100%;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.playlist-container-input {
    padding-bottom: .4em;
}

#button-add-playlist {
    background-color: var(--secondary-color);
    color: var(--main-color);
}