<div id="audio-container">
    <div class="animated">
        <span id="title-audio-player">No title</span>
    </div>
    <audio id="myPlayer" crossorigin="anonymous" preload=”metadata”></audio>
    <div id="audioPlayer">
        <div>
            <button id="reduce10"></button>
        </div>
        <div class="ml">
            <button id="play"></button>
        </div>
        <div class="ml">
            <button id="avance10"></button>
        </div>
        <div class="ml"> 
            <span id="currentTime" class="time">0:00</span>
        </div>
        <div id="audio-player-container" class="ml">
            <input type="range" id="progress-slider" value="0">
        </div>
        <div class="ml">
            <span id="duration" class="time">0:00</span>
        </div>
        <div class="ml">
            <webaudio-knob id="volumeKnob"
                src="/assets/imgs/LittlePhatty.png"
                diameter="30"
                tooltip="Volume: %d"
            ></webaudio-knob>
        </div>
    </div>
    <div>
       
    </div>
    <audio-booster id="audio-booster"></audio-booster>
    <audio-equalizer id="audio-equalizer"></audio-equalizer>
</div>


