canvas {
    border: 1px solid black;
}

#main-container {
    --main-color: rgb(243, 173, 22);
    --secondary-color: black;
    --background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.5px;
}

#canvas-audio canvas {
    border: 1px solid var(--main-color);
    height: 152px;
    width: 400px;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}

#main-audio-container {
    width: 100%;
    display: flex;
    border: 1px solid var(--main-color);
    justify-content: center;
    align-items: center;
}

#main-playlist-container {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid var(--main-color);
}

#main-playlist-container > * {
    width: 100%;
}